/* STP Archery Stylesheet */

/* font styling including color, style & font family */

* {
    font-family: sans-serif;
    font-size: 1rem; 
    color: black;
}


/* Main content wrapper styling */
.main-wrapper {
  background-color: rgb(200,200,200);
  display: grid;
}


/* styling the logo on the upper left */
#logo {
  width:50%;
  padding-top:1%;
  padding-left:2%;
  padding-right: 10%;
  margin-top: 10px;
    
}

.main-wrapper {
  background-color: rgb(200,200,200);
  display: grid;
  grid-template-columns: 18% 82%;
  grid-template-rows: 33% 33% 33%;
  margin-left:1.5vw;
  margin-right:1vw;
}

.left-nav li {
  background-color:blanchedalmond;
  grid-column-start:1;
  grid-row-start:1;
  grid-row-end:3;
  float:left;
}

nav a{
    text-decoration:non;
    font-size:3vw
}

nav ul {
    padding-top:3%;
    padding-left:10%;
    padding-right;10%;
}

nav li {
    list-style-type:none;
    margin-top:20%;
    padding-right:10%;
}

/* header styling - center top of page */

.main-content-wrapper h1{
    background-color:antiquewhite;
    font-size:5vw;
    grid-column-start:2;
    margin:inherit;
    padding-left:2%;
    padding-top:.75%;
    padding-bottom:.75%;
}


/* main content wrapper styling */

.main-content-wrapper {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end:3;
    float:right;
    background-color:azure;
    overflow:hidden;
}

/* about page heading above main content */
.page-name {
    text-align: center;
    font-size: 1.5em;
}

/* styling for main content - 3 different sections */

.main-content {
    background-color:cyan;
    margin-top:3%;
    margin-right:3%;
    margin-left:3%;
    padding-right: 5%;
    font-size: 1.5rem;   
}

.main-content img {
    width:100%;
}
.top {
    float: right;
    width: 120px;
    margin: 0px 0px 10px 10px;
    padding: 15px;
    border: 1px solid black;
    text-align: left;
}

.middle {
    float: left;
    width: 120px;
    margin: 10px 10px 0px 0px;
    padding: 15px;
    border: 1px solid black;
    text-align: left;
}

.bottom {
    float: right;
    width: 120px;
    margin: 0px 0px 10px 10px;
    padding: 15px;
    border: 1px solid black;
    text-align: left;
}

/* Style for footer */

footer {
  background-color:green;
  clear:both;
  grid-row-start:3;
  grid-column-start:1;
  grid-column-end:3;
  width:100%;
}

  footer img {
    margin:.75em;
    width:8vmin;
    min-width:5vmin;
  }
    footer a:first-of-type {
      margin-left:40vmin;
    }
