/* STP Archery Stylesheet */

/* font styling including color, style & font family */

* {
    font-family: sans-serif;
    font-size: 1rem; 
    color: black;
}


/* Main content wrapper styling */
.main-wrapper {
  background-color: rgb(200,200,200);
  display: grid;
}


/* styling the logo on the upper left */
#logo {
  width:50%;
  padding-top:1%;
  padding-left:2%;
  padding-right: 10%;
  margin-top: 1vw;
  margin-left: 1vw;
    
}

.main-wrapper {
  background-color: rgb(200,200,200);
  display: grid;
  grid-template-columns: 18% 82%;
  grid-template-rows: 33% 33% 33%;
  margin-left:1.5vw;
  margin-right:1vw;
}

.left-nav li {
  grid-column-start:1;
  grid-row-start:1;
  grid-row-end:3;
  float:left;
}

nav a {
    text-decoration:none;
    font-size:3vw;
}

nav ul {
    padding-top:3%;
    padding-left:10%;
}

nav li {
    list-style-type:none;
    margin-top:20%;
    padding-right:10%;
}

/* header styling - center top of page */

.main-content-wrapper h1 {
    background-color:antiquewhite;
    font-size:5vw;
    grid-column-start:3;
    margin:inherit;
    text-align: center;
}


/* main content wrapper styling */

.main-content-wrapper {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end:2;
    background-color:azure;
    overflow:hidden;
}

/* about page heading above main content */
.page-name {
    text-align: center;
    font-size: 1.5em;
}

/* styling for main content - 3 different sections */

.main-content {
    background-color:cyan;
    width: 900px;
    margin-top:15%;
    margin-right:3%;
    margin-left:1%;
    padding-right: 10%;
    font-size: 1.5rem;  
    grid-column-start: 2;
    grid-row-start: 2;
    grid-row-end:1;
}

.main-content section {
    margin-top: 1%
    }

.main-content h2 {
    font-size: 2rem;
    text-align: center;
}

.main-content img {
    width:30%;
}

.top {
    float: left;
    width: 900px;
    padding: 15px;
    margin:inherit;
    border: 1px solid black;
    text-align: left;
}

.middle {
    float: left;
    width: 900px;
    margin: 20px 10px 0px 0px;
    padding: 15px;
    border: 1px solid black;
    text-align: left;
}

.bottom {
    float: left;
    width: 900px;
    margin: 0px 0px 10px 10px;
    padding: 15px;
    border: 1px solid black;
    text-align: left;
}

/* Style for footer */

footer {
  background-color:lightcoral;
  clear:both;
  grid-row-start:;
  grid-column-start:1;
  grid-column-end:3;
  width:100%;
  text-align:center;
}


   
