/*Stylesheet for STP - Archery*/
/*set typical font size, color, and family for site*/
* {
  font-family: serif;
  font-size: 1rem;
  color: rgb(255,255,255);
  box-sizing: border-box;
}
body {
  background-color: rgb(0,0,0);
  height:100%;
}
.main-wrapper {
  background-color: rgb(200,200,200);
  width:95vw;
  margin-left:1.5vw;
  margin-right:1vw;
  border:none;
}
.side-nav{
  background-color:red;
  width: 15%;
  height:850px;
  float:left;
}
.side-nav a{
  text-decoration:none;
  font-size:2vw;
}
.side-nav ul{
  padding-top:3%;
  padding-right:10%;
  padding-left:10%
}
.side-nav li{
  list-style-type:none;
  margin-top:20%;
  padding-right:10%;
  text-align:center;
}
#logo{
  width:75%;
  padding-top:10%;
  padding-left:25%;
}
.main-content-wrapper{
  width:85%;
  float:left;
  height:850px;
  background-color:aqua;
  overflow:hidden; 
}
.main-content-wrapper h1{
  font-size:5vw;
  margin:inherit;
  padding-left:2%;
  padding-top:.75%;
  padding-bottom:.75%;
}
.content{
  width:inherit;
  margin-top:2%;
  margin-left:2%;
  padding-right:20%;
  font-size:1rem;
}
.content img{
  width:25%;
  float:left;
  
  margin-right:3%;
}
footer {
  clear:both;
  width:100%;
}
